
.boutton {
    background-color : #5c93a3 !important;
}


.boutton:hover {
    background-color : pink !important;
}

body {
    background-color: darkgray;
}

.container {
    background-color: #fff9f9;
    padding: 0;
}

.boite {
    margin-top: 0px;
    margin: 5%;
    padding: 3%;
    background-color: #d01200;
    color: white;
}

.card {
    background-color: #93857d;
}

.card button {
    color: white;
}

.nav {
    background-color: #524f52;
    margin:0px !important;
}

.nav-link {
    color: white !important;
}

.nav-general {
    background-color: grey;
}

.nav-hover:hover {
    background-color: grey;
}