
.boutton {
    background-color : #5c93a3 !important;
}


.boutton:hover {
    background-color : pink !important;
}

body {
    background-color: #272727;
}

.container {
    background-color: #fff9f9;
    padding: 0;
}

.boite {
    margin-top: 0px;
    margin: 5%;
    padding: 3%;
    background-color: #d01200;
    color: white;
}

.boite1{
    margin-top: 2%;
    padding: 3%;
    background-color: #aa0e00;
    color: white;  
}

.card {
    background-color: #aa0e00;
}

.card button {
    color: white;
}

.nav {
    background-color: #524f52;
    margin:0px !important;
}

.nav-link {
    color: white !important;
}

.nav-general {
    background-color:rgb(127, 10, 0);
}

.nav-hover:hover {
    background-color:rgb(127, 10, 0);
}

.vl-left {
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 1%;
    position: absolute;
    height: 200%;
}

.vl-right {
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 99%;
    position: absolute;
    height: 200%;
}
button:hover {
    color: rgb(126, 0, 0) !important;
    text-decoration: none !important;
}
button{
    text-decoration: none !important;
}
.image1 {
    width: 50%;
    height: 50%;
    float: right;
}
p {
    text-align: justify;
}
.nav-hoverac:hover {
    background-color:rgb(0, 125, 127);
}
.nav-ac {
    background-color:rgb(0, 125, 127);  
}