body {
    background-color: #272727;
}

.container {
    background-color: #fff9f9;
    padding: 0;
}

.boite {
    margin-top: 0px;
    margin: 5%;
    padding: 3%;
    background-color: #d01200;
    color: white;
}

.boite1{
    margin-top: 2%;
    padding: 3%;
    background-color: #b10f00;
    color: white;  
}

.card {
    background-color: #970d00;
}

.cardsti{
    background-color: rgb(10, 97, 0) ;
}

.card button {
    color: white;
}

.nav {
    background-color: #524f52;
    margin:0px !important;
}

.nav-link {
    color: white !important;
}

.nav-general {
    background-color:rgb(127, 10, 0);
}

.nav-hover:hover {
    background-color:rgb(127, 10, 0);
}

.vl-left {
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 1%;
    position: absolute;
    height: 201%;
    
}
.vlla {
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 1%;
    position: absolute;
    height: 290%;
   
}

.vll{
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 1%;
    position: absolute;
    height: 204%;
}

.vlr{
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 99%;
    position: absolute;
    height: 204%;
}


.vla{
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 99%;
    position: absolute;
    height: 290%;
}

.vl-right {
    margin-top: 1%;
    border-left: 3px solid white;
    margin-left: 99%;
    position: absolute;
    height: 201%;
    
}
.btncg:hover {
    color: rgb(255, 38, 38) !important;
    text-decoration: none !important;
}
.btncs:hover {
    color: rgb(18, 179, 0) !important;
    text-decoration: none !important;
}
button{
    text-decoration: none !important;
}
.image1 {
    width: 50%;
    height: 50%;
    float: right;
}
.image2 {
    width: 40%;
    height: 45%;
    float: right;
    margin-left: 3%;
    border-radius: 5%;
    margin-bottom: 3%;
}
p {
    text-align: justify;
    line-height: 180%;
}
.nav-hoverac:hover {
    background-color:#01758a;
}
.nav-ac {
    background-color:#01758a;  
}
.nav-techno{
    background-color: rgb(12, 127, 0);
}
.nav-hovetechno:hover{
    background-color: rgb(12, 127, 0); 
}
.titreen{
    margin-bottom:2%;
}
.card4{
    margin-bottom: 2%;
}
.card5{
    margin-top: 2%;
}
.boite2{
    margin-top: 0px;
    margin: 5%;
    padding: 3%;
    background-color: #00b0cf;
    color: white; 
}
.boite3{
    margin-top: 2%;
    padding: 3%;
    background-color: #0092ac;
    color: white;
}
.txtc{
    margin-bottom: 2%;
}
.txtc2{
    margin-top: 2%;
}
.boite4{
    margin-top: 0px;
    margin: 5%;
    padding: 3%;
    background-color: rgb(16, 165, 0);
    color: white;   
}
.boite5{
    margin-top: 4%;
    padding: 3%;
    background-color: rgb(13, 126, 0);
    color: white;
}
.boiteoption{
    padding-top: 2%;
}
.boiteop3 {
    margin-bottom: 3%;
}
.btncl {
    background-color:rgb(16, 165, 0);
    color: #fff9f9;
}

.btncl:hover {
    background-color:rgb(12, 127, 0); 
}

.btncla{
    background-color:#0092ac ;
    color: #fff9f9;
}

.btncla:hover{
    background-color:#01758a; 
}

.btnclg{
    background-color: #970d00 ;
    color: #fff9f9;
}

.btnclg:hover{
    background-color:rgb(127, 10, 0);
}
